{% extends 'base.html.twig' %}

{% block content %}
    <section class="ressources__wrapper container">
        <div class="ressources-text">
            <h2>Ressources</h2>
            <p>Documents, vidéos, et autres ressources pour approfondir vos connaissances</p>
        </div>

        <div class="ressources-tableau">
            {% set tab=[] %}
        </div>
    </section>
{% endblock %}
